<div class="container">
    <h2>Employees in Organization :</h2>
    <p>Choose Action :</p>
<table class="table table-striped">

    <thead>
      <tr>
        <th>#Employee ID</th>
        <th>Name</th>
        <th>@Email</th>
        <th>Salary</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="employees.length ==0">
        <td colspan="5" style="text-align: center"><h2>There are no products yet</h2></td>
      </tr>
      <tr *ngFor="let employee of employees">
        <th >{{employee.id}}</th>
        <td>{{employee.name}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.salary}}</td>
        <td>
          <button type="button" class="btn btn-primary" (click)="goToUpdateEmployee(employee.id)">Edit</button>&nbsp;
          <button type="button" class="btn btn-secondary" (click)="goToViewEmployee(employee.id)">View</button>&nbsp;
          <button type="button" class="btn btn-danger" (click)="deleteEmployee(employee.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-success" (click)="goToAddEmployee()">Add Employee</button>&nbsp;&nbsp;

</div>