<div class="container">
    <h2>Employee List</h2>
    <p>Use the buttons provided to perform crud operations</p>
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Product ID</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th >{{employee.id}}</th>
        <td>{{employee.name}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.salary}}</td>
  
      </tr>
  
      </tbody>
    </table>
    <button type="button" class="btn btn-success" (click)="gotolist()">Back</button>
  </div>