<div class="container">
    <h2>Add New Employee</h2>
    <form #adduserform="ngForm" (ngSubmit)= "addEmployeeformsubmit()">
        {{employee | json}}
        <div class="form-group">
            <label for ="id">Id :</label>
            <input typr="text" class="form-control" required [(ngModel)]="employee.id" name="id">
        </div>

        <div class="form-group">
            <label for ="name">Name :</label>
            <input typr="text" class="form-control" required [(ngModel)]="employee.name" name="name">
        </div>

        <div class="form-group">
            <label for ="email">Email :</label>
            <input typr="text" class="form-control" required [(ngModel)]="employee.email" name="email">
        </div>

        <div class="form-group">
            <label for ="salary">Salary :</label>
            <input typr="text" class="form-control" required [(ngModel)]="employee.salary" name="salary">
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
        <button type="button" class="btn btn-primary" (click) = "gotolist()">Back</button>

    </form>

</div>